version: 2
registries:
  maven-repository-repo-onegini-com-artifactory-public:
    type: maven-repository
    url: https://repo.onegini.com/artifactory/public
    username: dependabot
    password: "${{secrets.MAVEN_REPOSITORY_REPO_ONEGINI_COM_ARTIFACTORY_PUBLIC_PASSWORD}}"
  docker-registry-release-onegini-com-443:
    type: docker-registry
    url: https://release.onegini.com:443
    username: dependabot
    password: "${{secrets.DOCKER_REGISTRY_RELEASE_ONEGINI_COM_443_PASSWORD}}"
  docker-registry-release-onegini-com:
    type: docker-registry
    url: https://release.onegini.com
    username: dependabot
    password: "${{secrets.DOCKER_REGISTRY_RELEASE_ONEGINI_COM_PASSWORD}}"

updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  registries:
  - maven-repository-repo-onegini-com-artifactory-public
- package-ecosystem: docker
  directory: "/src/main/docker/Dockerfile"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  registries:
  - docker-registry-release-onegini-com-443
  - docker-registry-release-onegini-com
